[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
langchain-experimental = "*"
pinecone-client = "*"
tiktoken = "*"
docx2txt = "*"
pypdf = "*"
requests = "*"
numpy = "*"
pandas = "*"
langchain = "*"
langchain-openai = "*"
python-dotenv = "*"
langchainhub = "*"
wikipedia = "*"
duckduckgo-search = "*"
streamlit = "*"
streamlit-chat = "*"

[dev-packages]

[requires]
python_version = "3.11"
